<section class="container">
  <div class="gradient"></div>
  <div class="content">
    <h1 data-aos="zoom-out" data-aos-once="true">
      Unlimited movies, TV<br />
      shows, and more.
    </h1>
    <p data-aos="zoom-out">Watch anywhere. Cancel anytime.</p>
    <div class="email">
      <p data-aos="zoom-out" data-aos-once="true">
        Ready to watch? Enter your email to create or restart your membership.
      </p>

      <mat-form-field data-aos="fade-up" data-aos-once="true" appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput placeholder="Ex. user@mail.com" />
      </mat-form-field>
      <button data-aos="fade-up" data-aos-once="true" mat-button class="getStarted">
        Get Started
      </button>
    </div>
  </div>

  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg"
    srcset="
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg  1000w,
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w,
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg  1800w
    "
    alt="background"
  />
</section>

<section class="sections_right">
  <div class="background">
    <div>
      <h1 data-aos="fade-up" data-aos-once="true">Enjoy on your TV.</h1>
      <h2 data-aos="fade-up" data-aos-once="true">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players, and more.
      </h2>
    </div>
    <img
      data-aos="fade-up"
      data-aos-once="true"
      src="../../../assets/tv.gif"
      alt="tv_control"
    />
  </div>
</section>

<section class="sections_left">
  <div class="background">
    <img
      data-aos="fade-up"
      data-aos-once="true"
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
      alt="smartphone"
    />
    <div>
      <h1 data-aos="fade-up" data-aos-once="true">
        Download your shows to watch offline.
      </h1>
      <h2 data-aos="fade-up" data-aos-once="true">
        Save your favorites easily and always have something to watch.
      </h2>
    </div>
  </div>
</section>

<section class="sections_right">
  <div class="background">
    <div>
      <h1 data-aos="fade-up" data-aos-once="true">Watch everywhere.</h1>
      <h2 data-aos="fade-up" data-aos-once="true">
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV without paying more.
      </h2>
    </div>
    <img
      data-aos="fade-up"
      data-aos-once="true"
      src="../../../assets/devices.gif"
      alt="devices"
    />
  </div>
</section>

<section class="sections_left">
  <div class="background">
    <img
      data-aos="fade-up"
      data-aos-once="true"
      src="https://occ-0-1831-559.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png?r=fcd"
      alt="kids"
    />
    <div>
      <h1 data-aos="fade-up" data-aos-once="true">Create profiles for kids.</h1>
      <h2 data-aos="fade-up" data-aos-once="true">
        Send kids on adventures with their favorite characters in a space made
        just for them—free with your membership.
      </h2>
    </div>
  </div>
</section>

<section class="questions">
  <div>
    <h1>Frequently Asked Questions</h1>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> What is Netflix?</mat-panel-title>
          <mat-panel-description
            ><mat-icon>add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          Netflix is a streaming service that offers a wide variety of
          award-winning TV shows, movies, anime, documentaries, and more on
          thousands of internet-connected devices.
        </p>
        <p>
          You can watch as much as you want, whenever you want without a single
          commercial – all for one low monthly price. There's always something
          new to discover and new TV shows and movies are added every week!
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>How much does Netflix cost?</mat-panel-title>
          <mat-panel-description
            ><mat-icon>add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
          streaming device, all for one fixed monthly fee. Plans range from
          BRL25.90 to BRL55.90 a month. No extra costs, no contracts.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Where can I watch?</mat-panel-title>
          <mat-panel-description
            ><mat-icon>add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          Watch anywhere, anytime. Sign in with your Netflix account to watch
          instantly on the web at netflix.com from your personal computer or on
          any internet-connected device that offers the Netflix app, including
          smart TVs, smartphones, tablets, streaming media players and game
          consoles.
        </p>

        <p>
          You can also download your favorite shows with the iOS, Android, or
          Windows 10 app. Use downloads to watch while you're on the go and
          without an internet connection. Take Netflix with you anywhere.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>How do I cancel?</mat-panel-title>
          <mat-panel-description
            ><mat-icon>add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          Netflix is flexible. There are no pesky contracts and no commitments.
          You can easily cancel your account online in two clicks. There are no
          cancellation fees – start or stop your account anytime.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>What can I watch on Netflix?</mat-panel-title>
          <mat-panel-description
            ><mat-icon>add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          Netflix has an extensive library of feature films, documentaries, TV
          shows, anime, award-winning Netflix originals, and more. Watch as much
          as you want, anytime you want.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Is Netflix good for kids?</mat-panel-title>
          <mat-panel-description
            ><mat-icon >add</mat-icon></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          The Netflix Kids experience is included in your membership to give
          parents control while kids enjoy family-friendly TV shows and movies
          in their own space.
        </p>

        <p>
          Kids profiles come with PIN-protected parental controls that let you
          restrict the maturity rating of content kids can watch and block
          specific titles you don’t want kids to see.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="p_email">
      <p>
        Ready to watch? Enter your email to create or restart your membership.
      </p>
    </div>

    <div class="email">
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput placeholder="Ex. user@mail.com" />
      </mat-form-field>
      <button mat-button class="getStarted">Get Started</button>
    </div>
  </div>
</section>