<app-template-header-logo-netflix
  pathRouter="/"
  class="header"
></app-template-header-logo-netflix>

<div class="background"></div>

<main class="container">
  <section class="content">
    <h1>Who is watching?</h1>
    <div class="selectionProfile">

        <div *ngFor="let profile of profiles" (click)="userSelected(profile.id)" class="profiles">
            <img [src]="profile.image" alt="image_profile">
            <h1>{{profile.name}}</h1>

        </div>

      <div class="addProfile">
        <div class="image"></div>
        <h1>Add profile</h1>
      </div>
    </div>

    <a routerLink="ManageProfiles"><span>Manage profiles</span></a> 
  </section>
</main>
