<div class="container">
    <section class="footer">
        <div>
            <p>Questions? Call 0000-000-0000</p>
            <ul>
              <li><a href="">FAQ</a></li>
              <li><a href="">Help Center</a></li>
              <li><a href="">Term of Use</a></li>
              <li><a href="">Privacy</a></li>
        
              <li><a href="">Cookie Preferences</a></li>
              <li><a href="">Corporate Information</a></li>
            </ul>
  
        </div>
    </section>
  </div>
  
