<section class="container">
  <div class="gradient"></div>
  <div class="content">
    <div class="login-body">
      <h1>Sign In</h1>
      <mat-form-field appearance="outline">
        <mat-label>Email or phone number</mat-label>
        <input matInput/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput/>
      </mat-form-field>

      <button mat-raised-button color="primary">Sign In</button>
      <div class="login-help">
        <mat-checkbox color="primary">Remember me!</mat-checkbox>
        <a routerLink="">Need help?</a>
      </div>

      <div class="login-info">
          <a routerLink=""><mat-icon>facebook</mat-icon>Login with Facebook</a>
          <p>New to Netflix? <a routerLink="">Sign up now</a></p>
      </div>
    </div>
  </div>


  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg"
    srcset="
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg  1000w,
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w,
      https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/cc4fc6fd-ed99-4414-9998-97632daee2b9/BR-en-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg  1800w
    "
    alt="background"
  />
</section>
