.container {
  height: 100%;
  font-family: "Netflix Sans";
  height: 1034px;
}

.gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0.9)
  );
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1034px;
  z-index: 1;
}

img {
  width: 100%;
  position: absolute;
  height: 1034px;
  object-fit: cover;
  opacity: 1;
}

.content {
  position: absolute;
  z-index: 2;
  margin: auto;
  padding-top: 100px;
  width: 100%;

  .login-body {
    background-color: rgba(0, 0, 0, 0.781);
    margin: auto;
    width: 310px;
    border-radius: 6px;
    height: 520px;
    padding: 60px 75px;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: rgb(255, 166, 0);
  }

  .message-error{
    background-color: #E87C03;
    color: #fff;
    padding: 10px 20px;
 

    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    
    a{
      padding: 0;
      text-decoration: underline;
      color: inherit;
      background-color: transparent;
    }

    p{
      margin: 0;
    }
  }

	small{
		color:rgb(219, 143, 0);
	}

  mat-form-field {
    width: 100%;
    color: white;
    justify-content: center;
  }
  mat-label {
    color: rgb(131, 131, 131);
    margin-left: 10px;
    padding-left: 2px;
    font-size: 16px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #333333;
    border-radius: 5px;
  }

  button {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    height: 50px;
    font-size: 18px;
  }

  h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  .login-help {
    margin-top: 15px;
    color: rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: rgb(199, 199, 199);
    margin-top: 0;

    &:hover {
      color: rgb(248, 98, 98);
    }
  }

  .login-info {
    margin-top: 24px;

    mat-icon {
      vertical-align: middle;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
      color: rgb(100, 100, 100);
    }
  }
}

::ng-deep .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: #cccccc;
}

@media only screen and (max-width: 580px){
  .content{
    width: 80%;
    margin: auto;
    right: 0%;
    left: 0%;

    .message-error{
      font-size: 12px;
    }

    .login-body{
      width: auto;
      height: 620px;
      padding: 10% 10%;
    }
  }
}