.container{
    margin: auto;
    padding-top: 826px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

  
    width: 100%
}

.footer{
    background-color: rgba(0, 0, 0, 0.637);
    padding: 30px 70px;
    margin: 8px auto auto auto;
    width: 100%;
    

    div{
        min-width: 190px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 1em;
        color: #757575;
        position: relative;
        margin: auto;
        max-width: 800px;
    }

    p{
        text-align: left;
        font-size: 18px;
    }

    ul{
        max-width: 1000px;
        font-size: 14px;
        box-sizing: border-box;
        padding-left: 0;
    }

    li{
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 16px;
        display: inline-block;
        min-width: 100px;
        width: 25%;
        padding-right: 12px;
        vertical-align: top;
    }

    a{
        text-decoration: none;
        color: #757575;
    }

    @media only screen and (max-width: 625px) {
        li{
            width: 33%;
        }

    }
}