.background {
  flex: 1 1 0%;
  user-select: none;
  display: none;
}

.backDrop_image {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

.gradient {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, rgb(0, 0, 0) 10%, transparent);
}

.backDrop_content{
  display: flex;
  flex-direction: column;
  align-items: left;
  height: inherit;
  padding-top: 250px;
  margin-left: 3.5%;
  width: 700px;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.226);
 

  h1{
    font-family: "Netflix Sans";
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
  }
}

.backDrop_info{
  display: flex;
  flex-direction: row;

  span{
    margin-right: 20px;
    font-size: 25px;
  }
  
  .rating{
    color: #54D675;
  }
}

p{
  font-size: 22px;
  margin-top: 10px;
  line-height: 30px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100px;  
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.genres{
  span{
    color: rgb(173, 173, 173);
  }
}

.backDrop_buttons{

  button{
    margin-right: 10px;
    font-family: 'Netflix Sans';
    font-weight: 600;
    font-size: 15px;
  }

  mat-icon{
      margin-right: 5px;
  }

  .button1{
    background-color: rgba(255, 255, 255, 0.747);

    mat-icon{
      transform: scale(1.4);
    }

    &:hover{
      background-color: rgba(255, 255, 255, 0.589);
    }
  }

  .button2{
    background-color: rgba(175, 175, 175, 0.507);
    color: rgb(240, 240, 240);

    &:hover{
      background-color: rgba(175, 175, 175, 0.363);
    }
  }
}

.movies_divisions{
  margin: -320px 0px 0px 0px;
  background-color: black;

  background: linear-gradient(to top, #000000 80%, transparent);

}

.category{
  
  h1{
    font-family: "Netflix Sans";
    font-weight: 600;

    margin: 0px 45px -30px 3.5%;
  }
}

.category_movies{
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  transition: margin-left 1s ease 0s;

  swiper{
    padding: 55px;
  }

  img{
    width: 100%;
    max-width: 210px;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;

    &:hover{
      position: absolute;
      transition-delay: 0.2s;
      transition-duration: 0.4s;
      transform: scale(1.42);
      z-index: 2;

    }
  }
}

.buttonLeft{
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  height: 70%;
  border: none;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  padding-left: 2px;
  z-index: 2;
  width: 55px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.164);

    mat-icon{
      transform: scale(2.8);
    }
  }

  mat-icon{
    transition: 0.4s;
    color: white;
    transform: scale(2);
    margin-right: -20px;
  }

}

.buttonRight{
  position: absolute;
  top: 0; bottom: 0;
  right: 0;
  height: 70%;
  margin: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-left: 2px;
  z-index: 2;
  width: 55px;
  right: 0;

  &:hover{
    background-color: rgba(0, 0, 0, 0.164);

    mat-icon{
      transform: scale(2.8);
    }
  }

  mat-icon{
    transition: 0.4s;
    color: white;
    transform: scale(2);
    margin-right: -20px;
  }

}


.loading{
  position: absolute;
  z-index: 5;
  background-color: rgb(20, 20, 20);
  height: 100%;
  width: 100%;
  top: 0;
}

.loading_content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



