@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-red, A400);

$custom-app-secundary: mat-palette($mat-blue);

$custom-app-accent: mat-palette($mat-blue);


$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secundary, $custom-app-accent);

@include angular-material-theme($custom-theme);